.demo-table {
  width: 250%;
}

.mat-column-demo-position {
  width: 40px;
  border-right: 10px solid currentColor;
  padding-right: 59px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 25px;
  font-size: 80px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 100px;
  text-align: center;
  font-weight: bold;
}
